<h1> {{room.id == null ? 'Add' : 'Edit'}} Room</h1>


<div class="bg-warning p-5" *ngIf="message">{{message}}</div>

<form [formGroup]="roomForm">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" placeholder="room name" formControlName="roomName" required>
    <div class="alert alert-danger" *ngIf="roomForm.controls['roomName'].dirty && roomForm.controls['roomName'].invalid"></div>

  </div>
  <div class="form-group">
    <label for="location">Location</label>
    <input type="text" class="form-control" id="location" placeholder="location" formControlName="location" required>
    <div class="alert alert-danger" *ngIf="roomForm.controls['location'].dirty && roomForm.controls['location'].invalid"></div>
  </div>

  <h2>This room can accomodate:</h2>

<div class="formGroup" *ngFor="let layoutEntry of layoutEntries">
<label for="layout{{layoutEntry[0]}}">{{layoutEntry[1]}}</label>
<input class="form-control" id="layout{{layoutEntry[0]}}" formControlName="layout{{layoutEntry[0]}}"/>
</div>
  <button type="submit" class="btn btn-primary" (click)="onSubmit()" [disabled]="roomForm.invalid">Save</button>
</form>
